<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/update" class="active">Update User </a>
    </div>
    <div class="form">
      <form action="/update-user" method="post">
        <fieldset>
          <legend>Update user:</legend>
          <div class="input__group d-none">
            <label for="emailId">Id :</label>
            <input type="text" name="userId" id="" value=<%= (userEdit.id)%> />
          </div>
          <div class="input__group">
            <label for="emailId">Email :</label>
            <input type="text" name="email" id="" value=<%= (userEdit.email)%> />
          </div>
          <div class="input__group">
            <label for="">Name :</label>
            <input type="text" name="name" id=""  value=<%= (userEdit.name)%> />
          </div>
          <div class="input__group">
            <label for="">City : </label>
            <input type="text" name="city" id="" value=<%= (userEdit.city)%> />
          </div>
          <div>
            <button class="input__button">Edit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
